# mysql/my.cnf
[mysqld]
log_error_verbosity = 1  
# Laravel compatibility
default-authentication-plugin=mysql_native_password

# Performance
skip-name-resolve
innodb_buffer_pool_size=256M
log_bin_trust_function_creators=3